<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="600" border="0px" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="text-align:left;border:solid 1px #dddddd;">
	<tbody>
		<tr>
			<td align="left" valign="middle" style="border-bottom: 1px solid #eeeeee;">
				<img src="https://demo-nexevo.in/yasar/logo.png" width="50%">
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0" style="padding:0px 10px 10px 10px;">
					<tbody>
						<tr>
							<td style="padding-bottom: 20px;padding-top: 15px;" align="center">
								<font face="sans-serif" color="#262626" size="5px">
									<strong>Welcome! Account Created Successfully</strong>
								</font>
							</td>
						</tr>
						<tr>
							<td style="font-size:13px;line-height:17px;padding-bottom: 8px;">
								<font face="sans-serif" color="#262626">
									<strong>Dear {{name}},</strong>
								</font>
							</td>
						</tr>
						<tr>
							<td style="font-size:13px;line-height:17px">
							<font face="sans-serif" color="#000"> This is a system-generated mail that is being sent out to you with regard to your account at <a href="https://www.nexdro.com/login" target="_blank" style="color:#000;">nexdro.com</a>.</font>
							</td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						<tr> 
							<td><font face="Arial" style=font-size:13px;margin-bottom:10px;>You have created your account in Nexdro successfully. find your login details below</font></td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						
						<tr>
							<td><font face="Arial" style=font-size:13px;margin-bottom:10px;><strong>Email Id</strong>: {{email}}</font></td>
						</tr>
						
						<tr>
							<td><font face="Arial" style=font-size:13px;margin-bottom:10px;><strong>Password</strong>: {{password}}</font></td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						<tr>
							<td><strong><font face="Arial" style=font-size:13px;margin-bottom:10px;>Please click on the Button below to login with your accont.</font></strong></td>
						</tr>
						<tr>
							<td height="5"></td>
						</tr>
						<tr>
							<td valign="top" style="padding: 10px 0;">
								<a href="https://www.nexdro.com/login" style="background:#4ffea3;padding:7px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000;text-decoration:none;" target="_blank">
									<strong>Login</strong>
								</a>
							</td>
						</tr>
						<tr>
							<td height="17"></td>
						</tr>
						<tr>
							<td><font face="Arial" style=font-size:13px;margin-bottom:10px;>Or you may open the following link in your browser.</font></td>
						</tr>
						<tr>
							<td height="17"></td>
						</tr>
						<tr>
							<td align="center" height="12" valign="top">
								<a href="https://www.nexdro.com/login" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000;line-height:12px;display:block;height:8px; text-align:start;" target="_blank">
								<strong>https://www.nexdro.com/login</strong>
								</a>
							</td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						<tr>
							<td style="font-size:13px">
							<font face="sans-serif, Helvetica" color="#000000">
								<strong>
								<span style="color:#000">Note:</span></strong>
								<span>Use these credentials or generate a new password using the forgotten password link in the login page.</span>
								
							</font>
							</td>
						</tr>
						<tr>
							<td height="20"></td>
						</tr>
						<tr>
							<td style="line-height:17px;text-align:justify;font-size:13px">
							<font face="sans-serif" color="#262626">
								Regards<br>
								<strong>
								<span style="color:#000">Nexdro Team</span>
								</strong> 
							</font>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
		<tr>
			<td height="30" align="center">
				<font face="sans-serif" color="#888888" size="1.5">This is a System generated automated email, please do not reply to this message</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<font face="sans-serif" color="#888888" size="1.5"><a href="https://www.nexdro.com">www.nexdro.com</a></font>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
	</tbody>
</table>
</body>
</html>